<%
# We have to remove search form params before the url_for method call, otherwise it throughs it on
# AST Begin
# search_params = params[:search] this is not needed anymore
# AST End
params.merge!(:search => nil)
href = url_for(params_for(:action => :update_table, :escape => false).delete_if{|k,v| k == 'search'})
-%>
<%= form_remote_tag :url => href,
                    :method => :get,
                    :before => "addActiveScaffoldPageToHistory('#{href}', '#{params[:controller]}')",
                    :after => "$('#{loading_indicator_id(:action => :search, :id => params[:id])}').style.visibility = 'visible'; Form.disable('#{search_form_id}');",
                    :complete => "$('#{loading_indicator_id(:action => :search, :id => params[:id])}').style.visibility = 'hidden'; Form.enable('#{search_form_id}');",
                    :failure => "ActiveScaffold.report_500_response('#{active_scaffold_id}')",
                    :update => active_scaffold_content_id,
                    :html => { :href => href, :id => search_form_id, :class => 'search', :method => :get } %>

  <ol class="form">
    <% active_scaffold_config.field_search.columns.each do |column| -%>
      <!-- AST Begin -->
      <% next unless column.search_sql or column.virtual? -%>



      <!-- AST End -->  
      <li class="form-element">
        <dl>
          <dt>
            <label for="<%= "search_#{column.name}" %>"><%= column.label %></label>
          </dt>
        <dd>
        <%= active_scaffold_search_for(column) %>
        </dd>
      </dl>
    </li>
    <% end -%>
  </ol>
  <p class="form-footer">
    <%= submit_tag as_(:search), :class => "submit" %>
    <!-- AST Begin -->
    <% if active_scaffold_config.list.show_search_reset %>
      <!-- <a href="javascript:void(0)" class="cancel" onclick="f = this.up('form'); f.reset(); f.onsubmit();"><%= as_(:reset) -%></a> -->
      <% href = url_for(params_for(:action => :reset_search, :escape => false)) %>
      <%= link_to_remote as_(:reset), {:url => href,
                                :method => :get,
                                :failure => "ActiveScaffold.report_500_response('#{active_scaffold_id}')",
                                :update => active_scaffold_content_id}, {:class => "cancel"} %>
    <% end %>
    <%= loading_indicator_tag(:action => :search, :id => params[:id]) %>
    <!-- AST End -->  
  </p>
</form>

<script type="text/javascript">
//<![CDATA[
  Form.focusFirstElement('<%= search_form_id -%>');
//]]>
</script>